@use '../../../styles/variables' as *;
.header-container{
  background-color: $main-background-color;
  color: $medium-light-color;
  display: flex;
  .header-left{
    width:20%;
  }
  .header-main{
    justify-content: center;
  display:flex;
  flex-direction:column;
  width:60%;
  .header-title{
    font-size: 2rem;
  }
  }
}

.header-image{
  width:10rem;
}
