@use '../../styles/variables' as *;

.login-container{
display:flex;
  .jobs-list-container{
    width:50%;
    height:100vh;
    overflow:scroll;
  }
}

.login-form-container{
  display: inline-block;
}
