@use '../../../../styles/variables' as *;
.job-panel-container{
  color:black;
  display:flex;
  flex-direction:column;
  padding: .5rem;
    border: 2px solid green;
    border-radius: 10px;
    margin-bottom: .5rem;
  .row{
    display:flex;
  }
}
