@use '../../../../styles/variables' as *;
.job-panel-container{
  font-size: xx-small;
  cursor: pointer;
  color:black;
  display:flex;
  flex-direction:column;
  padding: .5rem;
    border: 2px solid green;
    border-radius: 10px;
    margin-bottom: .5rem;
    :hover{
        filter: brightness(150%);
      }
  .row{
    display:flex;
    justify-content: space-between;

  }
}
