$main-background-color: #122333;
$secondary-color: #371608;
$medium-color: #9f2112;
$accent-color: #f29e92;
$medium-light-color: #519fa5;
$main-font-color: #d0cfcd;
$white: #f6fbf8;
$font-family-base: 'Helvetica Neue', Arial, sans-serif;
$font-size-base: 16px;
$backbround-border-box:0 15px 25px rgba(0,0,0,.6);


//Collar county colors:
$cook-county: #2d5058;
$mchenry-county: #fba91a;
$kane-county:#4a9852;
$dupage-county: #d2a62c;
$lake-county: #6e0d0e;
$will-county: #bc2126;

//clean blackground
$main-side: #f5f5f5;
$main-center:#fbfbfb;
$sub-text-color: #2f3030;
$main-text-color:#242424;
