/* You can add global styles to this file, and also import other style files */
@use './variables';

html,body{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
