
@use '../../styles/variables' as *;
.main-container{
  height:100vh;
  background-color:$main-center;
  display:flex;
  flex-direction: column;
  .header{
    display:flex;
    justify-content: space-between;
    background-color: $main-side;
    padding:.5rem;
    .header-left{
      width:10%;
    }
    .header-title{
      font:bold;
      display:flex;
      justify-content: center;
      align-items:center;
    }
    .header-right{
      width:10%;
    }

  }
  .main-container-data{
    display:flex;
    justify-content: space-around;

    .filter{
      width:30%;
      background-color: $main-side;
      overflow:scroll;
    }
    .main-tasks{
      padding-top:$main-padding-top;
      display:flex;
      flex-direction: column;
    align-items: center;
      width:60%;
      background-color: $main-center;
      overflow: scroll;
      .main-tasks-title{
        font-weight: $title-weight;
  color:$main-text-color;
      }
    }
    .main-task-details{
      width:20%;
      background-color: $main-side;
      overflow:scroll;
    }

  }

}
