<div class="main-container">
  <div class="header">
    <div class="header-left">Website Icon</div>
    <div class="header-title">Welcome {{user}}</div>
    <div class="header-right">bubble menu</div>
  </div>
  <div class="main-container-data">
    <div class="filter">
      <app-filter></app-filter>
    </div>
    <div class="main-tasks">
      <div class="main-tasks-title">Today</div>
      <app-jobs-list [jobs]="jobs" ></app-jobs-list>
    </div>
    <div class="main-task-details">
      JOB Details
    </div>
  </div>
</div>
