@use '../../../styles/variables' as *;
.filter-title{
  padding-top: $main-padding-top;
  padding-left: $main-padding-left;
  font-weight: $title-weight;
  color:$main-text-color;
}
.filter-box{
  padding-top: 1rem;
    padding-left: 1.5rem;
    font-size: small;
    font-weight: 300;
}
